* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.text-grey {
  color: grey;
}
.text-black {
  color: black;
}
.nav {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(12, 1fr);
  /* background-color: aqua; */
  height: 10vh;
}

.nav .logo {
  grid-column: 2;
}

.nav .menu-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  list-style: none;
  grid-column: 4 / 9;
}

.nav .menu-user {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
  gap: 20px;
  grid-column: 11;
}
.nav .menu-user .sign-up {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 5px;
}

/* Main */

.main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.main .img1 {
  grid-column: 2 span 11;
  grid-row: 1;
  width: 100%;
  padding: 5% 20%;
}
.main .img2 {
  grid-column: 2 span 11;
  grid-row: 2;
  width: 90%;
  height: 10vh;
  padding: 0 20%;
}
.main .img3 {
  grid-column: 1 span 12;
  grid-row: 3;
  width: 100%;
}
.main .img4 {
  grid-column: 2 span 11;
  grid-row: 4;
  padding: 0 20%;
}
.main .img5 {
  grid-column: 2 span 11;
  grid-row: 5;
  padding: 0 20%;
}

.footer {
  display: grid;
  grid-template-areas: "col1 col2 col3 col4";
  background-color: #1a1b41;
  height: 30vh;
}
.footer .col1 {
  grid-area: col1;
}
.footer .col2 {
  grid-area: col2;
}
.footer .col3 {
  grid-area: col3;
}
.footer .col4 {
  grid-area: col4;
}
.footer .row2 {
  display: flex;

  grid-template-areas: row2;
  grid-row: 2;
  gap: 15px;
  align-items: center;
}
